@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    color: #0B1215;
}
main{
    margin-left: 198px;
    width: calc(100% - 198px);
}
header{
    top: 0;
}
a{
    text-decoration: none;
    color: #0B1215;
    padding: 5px 0;
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.flex_col{
    display: flex;
    flex-direction: column;
}
.w_1500{
    width: 1500px;
    margin: 0 auto;
}

.home_btn{
    width: 250px;
    height: 48px;
    background-color: #DDDDDD;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 15px;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
}
.home_btn2{
    background-color: #FF6F1E;
}
.home_btn:hover{
    background-color: #FF6F1E;
}

.home_btn>a{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    white-space: nowrap;
}
.home_btn>a:hover{
    color: #ffffff;
}

.home_btn div{
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/arrow_bl.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.home_btn:hover div{
    background-image: url(../img/icon/arrow_wt.png);
}


@media screen and (max-width: 1024px){
    main{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px){
    .home_btn, .home_btn2{
        width: 180px;
        font-size: 13px;
    }
    .home_btn>a, .home_btn2>a{
        padding: 12px 20px;
    }
    .home_btn div, .home_btn2 div{
        width: 15px;
        height: 15px;
    }
}
