header{
    width: 198px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;
    padding: 40px 30px;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
#h_logo{
    width: 140px;
    height: auto;
    margin-bottom: 110px;
}
#h_logo>a{
    display: block;
    width: 100%;
    height: auto;
    font-size: 0;
    padding: 0;
}
#h_logo img{
    width: 100%;
    /* padding: 5px 0; */
}

#ham{
    /* width: 70px;
    height: 70px; */
    height: 100%;
    /* box-sizing: border-box; */
    padding: 20px 25px;
    background-color: #FF6F1E;
    display: none;
}

#ham>img{
    width: 22px;
    height: 15px;
}
nav>ul{
    color: #0B1215;
}
#menu_wrap{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 300px;
}
#menu_wrap>li{
    padding-bottom: 28px;
}
#menu_wrap a:hover{
    color: #FF6F1E;
}
#pop_wrap>li{
    text-align: center;
    font-size: 14px;
    padding: 8px 0;
    width: 100%;
    border: 2px solid #FF6F1E;
}
#pop_wrap>li:first-child{
    border-bottom: 0;
}
#pop_wrap>li>a{
    padding: 5px 40px;
}
#pop_wrap>li:hover{
    background-color: #FF6F1E;
}
#pop_wrap>li:hover a{
    color: #ffffff;
}


/* 새로 추가된 부분-시작  */
.dropdown{
    border: none;
    outline: none;
    background-color: inherit;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #FF6F1E;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 새로 추가된 부분-끝  */


@media screen and (max-width: 1024px){
    .h1024{
        display: none;
    }
    header{
        width: 100%;
        height: auto;
        padding: 0;
        position: absolute;
        display: flex;
        align-items: center;
    }
    #h_logo{
        width: 78px;
        padding-left: 15px;
        margin-bottom: 0;
    }
    #ham{
        display: block;
    }
}