#sec1_posi {
    position: relative;
    height: 400px;
}
#sec1_img {
    overflow: hidden;
    position: absolute;
    font-size: 0;
    right: 0;
    top: 0;
    z-index: -999999;
    width: 1500px;
    height: 100%;
    background-image: url(../img/header.png);
}

#sec1_txt {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    padding-right: 100px;
    background-color: #FF6F1E;
    color: #ffffff;
    box-sizing: border-box;
}

#sec1_txt>p:first-child {
    font-size: 40px;
}

#sec1_txt>p:last-child {
    font-size: 60px;
    padding-top: 10px;
}

#category_wrap {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-evenly;
    background-color: #0B1215;
    padding: 22px 0;
    font-size: 22px;
}
#category_wrap a {
    color: #ffffff;
}
#category_wrap a:hover{
    color: #FF6F1E;  
}

/* sec1 end */


.w1500{
    max-width: 1500px;
    margin: 0 auto;
    padding: 75px 0;
    box-sizing: border-box;
}

.w1500>section {
    padding: 75px 0;
}

/* main sec 공통 */

#sec2_wrap {
    justify-content: space-between;
    border-bottom: 1px solid #666666;
    padding-top: 150px;
}

#sec2_tit>p {
    box-sizing: unset;
    padding-bottom: 25px;
}

#sec2_tit>p:first-child {
    font-size: 30px;
    font-weight: bold;
}

#sec2_tit>p:nth-child(2) {
    color: #FF6F1E;
}

#sec2_tit>p:nth-child(3) {
    font-size: 15px;
    color: #666666;
    padding-bottom: 90px;
}

#sec2_txt {
    width: 100%;
    font-size: 15px;
    line-height: 25px;
}

#sec2_txt>ul {
    display: flex;
    padding-bottom: 35px;
}

#sec2_txt li {
    padding-right: 25px;
    vertical-align: top;
}

#sec2_txt li:nth-child(2) {
    width: 60px;
}

#sec2_txt img {
    width: 20px;
    height: auto;
}

#sec2_right {
    gap: 20px;
    justify-content: space-between;
}

#sec2_right>div {
    width: auto;
    height: 512px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#sec2_right>div>img {
    width: 100%;
    height: 100%;
}

/* sec2 end */

.union {
    width: 164px;
    height: 48px;
    padding-bottom: 60px;
    background-image: url(../img/sub01/Union.png);
    background-repeat: no-repeat;
    text-align: center;
    line-height: 48px;
    color: #ffffff;
}

.orange {
    font-weight: bold;
    color: #FF6F1E;
}

/* sec3,4,5 공통 */

#sec3_wrap>p {
    width: fit-content;
    margin: 0 auto;
}

/* sec3 end */

#sec4_txt {
    padding-left: 40px;
}
#sec4_txt ul {
    display: flex;
    padding-bottom: 20px;
}
#sec4_txt li {
    padding-right: 50px;
    vertical-align: top;
}
#sec4_txt li:first-child {
    width: 80px;
    white-space: nowrap;
}
#sec4_txt li:nth-child(2) {
    color: #666666;
    word-break: keep-all;
}

/* sec5 end */

#sec5_wrap{
    width: 100%;
    padding-bottom: 150px;
}
#sec5_img {
    margin: 0 auto;
    justify-content: flex-end;
    gap: 20px;
}
.sec5_box {
    flex: 1;
    height: 596px;
    position: relative;
    overflow: hidden;
    position: relative;
}
.fillter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);;
    z-index: 1111;
    position: absolute;
    top: 0; 
    left: 0;
}
.sec5_box img{
    display: block;
    max-width: 100%;    
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}
.sec5_plus {
    width: 40px;
    height: 40px;
    background-image: url(../img/icon/plus\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

/* sec 456 end */

@media screen and (max-width: 1024px) {
    #sec1_img{
        width: 100%;
    }
    #sec1_txt>p:first-child {
        font-size: 20px;
    }
    #sec1_txt>p:last-child {
        font-size: 32px;
    }

    /* sec1 end */

    .w1500{
        max-width: 824px;
    }
    

    #sec2_tit>p {
        padding-bottom: 20px;
    }
    #sec2_tit>p:first-child {
        font-size: 28px;
    }
    #sec2_tit>p:nth-child(2) {
        font-size: 18px;
    }
    #sec2_tit>p:nth-child(3) {
        font-size: 14px;
        padding-bottom: 60px;
    }
    #sec2_txt>ul{
        flex-wrap: wrap;
        row-gap: 10px;
        padding-bottom: 20px;
    }
    #sec2_txt li:nth-child(3){
        width: 100%;
    }
    .home_btn{
        margin-right: auto;
        margin-left: unset;
    }
    #sec2_right{
        flex-direction: column;
    }
    #sec2_right>div{
        height: 375px;
    }
    /* sec2 end */

    .union{
        font-size: 18px;
    }
    #sec5_img{
        width: 100%;
        height: 1000px;
        flex-direction: column;
    }
    .sec5_box{
        width: 100%;
        flex-grow: 1;
    }
    .sec5_box img{
        width: 100%;
        height: 100%;
    }
    /* sec8 end */
}

@media screen and (max-width: 767px) {
    .w1500{
        max-width: 567px;
        padding: 50px 0;
    }
    
    #sec2_wrap{
        padding-top: 100px;
    }
    #sec2_left{
        padding-left: 10px;
        box-sizing: border-box;
    }    
    #sec2_tit>p:nth-child(3) {
        font-size: 13px;
        padding-bottom: 60px;
    }
    #sec2_txt{
        font-size: 13px;
    }
    #sec2_right{
        flex-direction: column;
    }
    #sec2_right>div{
        height: 312px;
    }
    /* sec2 end */

    #sec5_wrap{
        padding-bottom: 100px;
    }
    #sec5_img{
        width: 100%;
        height: 800px;
        flex-direction: column;
    }
    .sec5_box{
        width: 100%;
        flex-grow: 1;
    }
    .sec5_box img{
        width: 100%;
        height: 100%;
    }    
    /* sec8 end */    
}

@media screen and (max-width: 450px){

    #sec2_wrap{
        flex-direction: column-reverse;
    }
    #sec2_right>div{
        flex: 1;
    }
    #sec2_right{
        flex-direction: row;
        gap: 10px;
        padding-bottom: 60px;
    }

    #sec3_wrap>p{
        font-size: 18px;
    }

    #sec5_txt{
        font-size: 18px;
    }
    #sec5_txt>ul{
        flex-direction: column;
    }
    #sec5_txt li{
        padding-bottom: 10px;
    }
    .mouseover{
        height: 400px;
    }
    .mouseout{
        height: 150px;
    }
}

@media screen and (max-width: 450px){
    #sec1_txt{
        padding: 30px 10px;
    }
    #sec1_txt>p:first-child {
        font-size: 17px;
    }
    #sec1_txt>p:last-child {
        font-size: 26px;
    }
}